footer {
	min-height: 20vh;
	padding-top: 20px;
	
	width:100%;
	
	line-height: 1.2;

	background-image: linear-gradient(90deg, rgba(125, 125, 125, 0.08) 0%, rgba(125, 125, 125, 0.08) 15%, rgba(79, 79, 79, 0.08) 15%, rgba(79, 79, 79, 0.08) 19%, rgba(146, 146, 146, 0.08) 19%, rgba(146, 146, 146, 0.08) 22%, rgba(178, 178, 178, 0.08) 22%, rgba(178, 178, 178, 0.08) 27%, rgba(185, 185, 185, 0.08) 27%, rgba(185, 185, 185, 0.08) 80%, rgba(92, 92, 92, 0.08) 80%, rgba(92, 92, 92, 0.08) 100%), linear-gradient(90deg, rgba(23, 23, 23, 0.07) 0%, rgba(23, 23, 23, 0.07) 10%, rgba(117, 117, 117, 0.07) 10%, rgba(117, 117, 117, 0.07) 12%, rgba(208, 208, 208, 0.07) 12%, rgba(208, 208, 208, 0.07) 18%, rgba(241, 241, 241, 0.07) 18%, rgba(241, 241, 241, 0.07) 57%, rgba(62, 62, 62, 0.07) 57%, rgba(62, 62, 62, 0.07) 65%, rgba(100, 100, 100, 0.07) 65%, rgba(100, 100, 100, 0.07) 72%, rgba(254, 254, 254, 0.07) 72%, rgba(254, 254, 254, 0.07) 100%), linear-gradient(90deg, rgba(231, 231, 231, 0.08) 0%, rgba(231, 231, 231, 0.08) 15%, rgba(130, 130, 130, 0.08) 15%, rgba(130, 130, 130, 0.08) 18%, rgba(251, 251, 251, 0.08) 18%, rgba(251, 251, 251, 0.08) 38%, rgba(107, 107, 107, 0.08) 38%, rgba(107, 107, 107, 0.08) 78%, rgba(151, 151, 151, 0.08) 78%, rgba(151, 151, 151, 0.08) 92%, rgba(121, 121, 121, 0.08) 92%, rgba(121, 121, 121, 0.08) 99%, rgba(91, 91, 91, 0.08) 99%, rgba(91, 91, 91, 0.08) 100%), linear-gradient(90deg, rgba(62, 62, 62, 0.06) 0%, rgba(62, 62, 62, 0.06) 18%, rgba(247, 247, 247, 0.06) 18%, rgba(247, 247, 247, 0.06) 28%, rgba(184, 184, 184, 0.06) 28%, rgba(184, 184, 184, 0.06) 46%, rgba(25, 25, 25, 0.06) 46%, rgba(25, 25, 25, 0.06) 100%), linear-gradient(90deg, rgba(99, 99, 99, 0.07) 0%, rgba(99, 99, 99, 0.07) 21%, rgba(115, 115, 115, 0.07) 21%, rgba(115, 115, 115, 0.07) 45%, rgba(234, 234, 234, 0.07) 45%, rgba(234, 234, 234, 0.07) 61%, rgba(44, 44, 44, 0.07) 61%, rgba(44, 44, 44, 0.07) 64%, rgba(185, 185, 185, 0.07) 64%, rgba(185, 185, 185, 0.07) 76%, rgba(66, 66, 66, 0.07) 76%, rgba(66, 66, 66, 0.07) 100%), linear-gradient(90deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 5%, rgba(205, 205, 205, 0.01) 5%, rgba(205, 205, 205, 0.01) 71%, rgba(223, 223, 223, 0.01) 71%, rgba(223, 223, 223, 0.01) 85%, rgba(58, 58, 58, 0.01) 85%, rgba(58, 58, 58, 0.01) 91%, rgba(25, 25, 25, 0.01) 91%, rgba(25, 25, 25, 0.01) 98%, rgba(143, 143, 143, 0.01) 98%, rgba(143, 143, 143, 0.01) 100%), linear-gradient(90deg, rgba(181, 181, 181, 0.05) 0%, rgba(181, 181, 181, 0.05) 18%, rgba(115, 115, 115, 0.05) 18%, rgba(115, 115, 115, 0.05) 45%, rgba(80, 80, 80, 0.05) 45%, rgba(80, 80, 80, 0.05) 51%, rgba(236, 236, 236, 0.05) 51%, rgba(236, 236, 236, 0.05) 52%, rgba(165, 165, 165, 0.05) 52%, rgba(165, 165, 165, 0.05) 55%, rgba(238, 238, 238, 0.05) 55%, rgba(238, 238, 238, 0.05) 63%, rgba(50, 50, 50, 0.05) 63%, rgba(50, 50, 50, 0.05) 100%), linear-gradient(90deg, rgb(114, 231, 243), rgb(171, 176, 49), rgb(252, 91, 93));
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
	border-top:5px solid black

}



