// Header Settings
header {
	//min-height         : 20vh;
	//background         : $vis;
	background-position: center center;
	background-size    : cover;
	//font-family        : 'Lato', sans-serif;
	
	background:white;
	border-bottom:2px solid black!important
}
