@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro&display=swap');
body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 2;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	margin: 10px 0;
}
h1 {
	margin-bottom: 20px;
	margin-top: 20px;

}
p {
	margin: 20px 0;
}
a:visited,
a:link {}
a:hover {}
